/* Estilo padrão */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
}

.todo-input {
    margin-bottom: 15px;
}

.filters button {
    margin-right: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.active-filter {
    background-color: #007BFF;
    color: white;
}

#task-list {
    list-style: none;
    padding: 0;
}

#task-list li {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    background: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#task-list li.completed span {
    text-decoration: line-through;
}

footer {
    text-align: center;
    margin-top: 20px;
}

/* Modo escuro */
.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode #task-list li {
    background: #333;
    border-color: #555;
}

.dark-mode .filters button {
    color: #ddd;
}
